.navbar {
  width: 100%;
  background-color: #68CBE0;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 40%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

#response {
    position:absolute;
   font-family:"Courier New";
    left:30%;
  border: 1px solid black;
  border-collapse: collapse;
    width:500px;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
th{
   background-color: #68CBE0;
}
#contain
{
      position: relative;
    top: 100px;
    font-family: cursive;
    margin-top: 50px;
    font-size:15px;
    background-color:#68CBE0; 
    height: auto;
    width: 80%;
    max-width: 700px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 4px;
    font-family: sans-serif;
  
   
}
.blue-button {
    margin-top: 20px;
    height: 35px;
    width: 75px;
    font-size: medium;
    border: none;
    border-radius: 4px;
    background-color: #68CBE0;
    color: white;
    padding: 5px;
    margin:7px;
    margin-right: 50px;
    float: right;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
   

